main.site-content
  .edit-profile
    .container.container--narrow
      h2 Edit profile
      form.edit-profile__form.block(action="")
        .form-control.block
          label(for="firstName") First Name
          input(type="text", id="firstName" placeholder="Your first name")
        .form-control.block
          label(for="lastName") Last Name
          input(type="text", id="lastName" placeholder="Your last name")
        .form-control.block
          label(for="password") Password
          input(type="password", id="password" placeholder="Your password here")
        .form-control.block
          label(for="emailAddress") Email Address
          input(type="email", id="emailAddress" placeholder="Your email address")          
        .form-control.block
          label(for="city") City
          input(type="text", id="city" placeholder="Your city")
        .form-control.block
          label(for="address") Address
          input(type="text", id="address" placeholder="Your address")
        .form-control.block
          label(for="favQuote") Favorite Quote
          textarea(id="favQuote" placeholder="Your favourite quote", style="resize: vertical")
        .form-control.block
          h4 Upload photos
          .up-photos-input 
            input#file-2.inputfile.inputfile-2(type='file', name='file-2[]', data-multiple-caption='{count} files selected', multiple='')
            label(for='file-2')
              <svg xmlns="http://www.w3.org/2000/svg" height="300px" width="300px" fill="#000000" data-name="Layer 1" viewBox="0 0 24 24" x="0px" y="0px"><title>BBUI</title><path d="M20,4.25H4A1.75,1.75,0,0,0,2.25,6V18A1.75,1.75,0,0,0,4,19.75H20A1.75,1.75,0,0,0,21.75,18V6A1.75,1.75,0,0,0,20,4.25ZM4,5.75H20a.25.25,0,0,1,.25.25v9.5l-1.6-1.2a2.76,2.76,0,0,0-3.3,0l-2.07,1.55a.25.25,0,0,1-.34,0L10.41,13a2.75,2.75,0,0,0-3.89-.2L3.75,15.3V6A.25.25,0,0,1,4,5.75Zm16,12.5H4A.25.25,0,0,1,3.75,18v-.67l3.77-3.42a1.18,1.18,0,0,1,.9-.32,1.24,1.24,0,0,1,.87.41l2.54,2.83a1.74,1.74,0,0,0,2.35.23l2.07-1.55a1.25,1.25,0,0,1,1.5,0l2.5,1.87V18A.25.25,0,0,1,20,18.25Z"/><circle cx="16.75" cy="8.75" r="1.5"/></svg>
              span Upload photos…

        .form-control.social.block
          h4 Social Media
          .form-control
            label(for="facebook") Facebook
            input(type="text", id="facebook", placeholder="Your Facebook account") 
          .form-control
            label(for="twitter") Twitter
            input(type="text", id="twitter", placeholder="Your Twitter account") 
          .form-control
            label(for="instagram") Instagram
            input(type="text", id="instagram", placeholder="Your Instagram account") 
        button(type="submit", class="button button--primary") Save

      
      section.upload-photos
        h2 Upload photos
        #dropzone.block
          form#demo-upload.dropzone.needsclick(action='/upload')
            .dz-message.needsclick
              | Drop files here or click to upload.

          #preview-template(style='display: none;')
            .dz-preview.dz-file-preview
              .dz-image
                img(data-dz-thumbnail='')
              .dz-details
                .dz-size
                  span(data-dz-size='')
                .dz-filename
                  span(data-dz-name='')
              .dz-progress
                span.dz-upload(data-dz-uploadprogress='')
              .dz-error-message
                span(data-dz-errormessage='')
              .dz-success-mark
                svg(width='54px', height='54px', viewBox='0 0 54 54', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:sketch='http://www.bohemiancoding.com/sketch/ns')
                  title Check
                  desc Created with Sketch.
                  defs
                  g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', sketch:type='MSPage')
                    path#Oval-2(d='M23.5,31.8431458 L17.5852419,25.9283877 C16.0248253,24.3679711 13.4910294,24.366835 11.9289322,25.9289322 C10.3700136,27.4878508 10.3665912,30.0234455 11.9283877,31.5852419 L20.4147581,40.0716123 C20.5133999,40.1702541 20.6159315,40.2626649 20.7218615,40.3488435 C22.2835669,41.8725651 24.794234,41.8626202 26.3461564,40.3106978 L43.3106978,23.3461564 C44.8771021,21.7797521 44.8758057,19.2483887 43.3137085,17.6862915 C41.7547899,16.1273729 39.2176035,16.1255422 37.6538436,17.6893022 L23.5,31.8431458 Z M27,53 C41.3594035,53 53,41.3594035 53,27 C53,12.6405965 41.3594035,1 27,1 C12.6405965,1 1,12.6405965 1,27 C1,41.3594035 12.6405965,53 27,53 Z', stroke-opacity='0.198794158', stroke='#747474', fill-opacity='0.816519475', fill='#FFFFFF', sketch:type='MSShapeGroup')
              .dz-error-mark
                svg(width='54px', height='54px', viewBox='0 0 54 54', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:sketch='http://www.bohemiancoding.com/sketch/ns')
                  title error
                  desc Created with Sketch.
                  defs
                  g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', sketch:type='MSPage')
                    g(id='Check-+-Oval-2', sketch:type='MSLayerGroup', stroke='#747474', stroke-opacity='0.198794158', fill='#FFFFFF', fill-opacity='0.816519475')
                      path#Oval-2(d='M32.6568542,29 L38.3106978,23.3461564 C39.8771021,21.7797521 39.8758057,19.2483887 38.3137085,17.6862915 C36.7547899,16.1273729 34.2176035,16.1255422 32.6538436,17.6893022 L27,23.3431458 L21.3461564,17.6893022 C19.7823965,16.1255422 17.2452101,16.1273729 15.6862915,17.6862915 C14.1241943,19.2483887 14.1228979,21.7797521 15.6893022,23.3461564 L21.3431458,29 L15.6893022,34.6538436 C14.1228979,36.2202479 14.1241943,38.7516113 15.6862915,40.3137085 C17.2452101,41.8726271 19.7823965,41.8744578 21.3461564,40.3106978 L27,34.6568542 L32.6538436,40.3106978 C34.2176035,41.8744578 36.7547899,41.8726271 38.3137085,40.3137085 C39.8758057,38.7516113 39.8771021,36.2202479 38.3106978,34.6538436 L32.6568542,29 Z M27,53 C41.3594035,53 53,41.3594035 53,27 C53,12.6405965 41.3594035,1 27,1 C12.6405965,1 1,12.6405965 1,27 C1,41.3594035 12.6405965,53 27,53 Z', sketch:type='MSShapeGroup')
        
        .all-photos
          ul.list.list--no-bullets.images.block
            li.item
              a(href="#0")
                img(src='assets/images/photo-1530822847156-5df684ec5ee1.jpeg')
                button(class="button--plain remove-image-button")
                  svg(width='14', height='14', viewBox='0 0 24 24')
                    use(xlink:href='#close-exbold')   
            li.item
              a(href="#0")
                img(src='assets/images/prof-pic.jpeg', alt='image')
                button(class="button--plain remove-image-button")
                  svg(width='14', height='14', viewBox='0 0 24 24')
                    use(xlink:href='#close-exbold')  
            li.item
              a(href="#0")
                img(src='assets/images/photo-1530822847156-5df684ec5ee1.jpeg', alt='image')
                button(class="button--plain remove-image-button")
                  svg(width='14', height='14', viewBox='0 0 24 24')
                    use(xlink:href='#close-exbold')  
            li.item
              a(href="#0")
                img(src='assets/images/prof-pic.jpeg', alt='image')
                button(class="button--plain remove-image-button")
                  svg(width='14', height='14', viewBox='0 0 24 24')
                    use(xlink:href='#close-exbold')  
            li.item
              a(href="#0")
                img(src='assets/images/photo-1530822847156-5df684ec5ee1.jpeg', alt='image')
                button(class="button--plain remove-image-button")
                  svg(width='14', height='14', viewBox='0 0 24 24')
                    use(xlink:href='#close-exbold')  
            li.item
              a(href="#0")
                img(src='assets/images/prof-pic.jpeg', alt='image')
                button(class="button--plain remove-image-button")
                  svg(width='14', height='14', viewBox='0 0 24 24')
                    use(xlink:href='#close-exbold')  
            li.item
              a(href="#0")
                img(src='assets/images/photo-1530822847156-5df684ec5ee1.jpeg', alt='image')
                button(class="button--plain remove-image-button")
                  svg(width='14', height='14', viewBox='0 0 24 24')
                    use(xlink:href='#close-exbold')  
            li.item
              a(href="#0")
                img(src='assets/images/prof-pic.jpeg', alt='image')
                button(class="button--plain remove-image-button")
                  svg(width='14', height='14', viewBox='0 0 24 24')
                    use(xlink:href='#close-exbold')  
            li.item
              a(href="#0")
                img(src='assets/images/photo-1530822847156-5df684ec5ee1.jpeg', alt='image')
                button(class="button--plain remove-image-button")
                  svg(width='14', height='14', viewBox='0 0 24 24')
                    use(xlink:href='#close-exbold')  
