main.site-content
  .c-exercise
    .container
      h2.c-exercise__title Techniques for developing quad
      .c-exercise__cover
        img(src="assets/images/prof-pic.jpeg", alt="Exercise Cover")
      .c-exercise__data

        .c-exercise__details.block
          h3 Workout Details
          .c-exercise__details__inner
            ul.list.list--no-bullets
              li
                .left
                  p Duration:
                .right
                  p 12 weeks
              li
                .left
                  p Workouts per week:
                .right
                  p 5
              li
                .left
                  p Level:
                .right
                  p Beginner
              li
                .left
                  p Category:
                .right
                  p General Fittnes
                
        .c-exercise__workouts.block
          h3  Daily Workouts
          .c-exercise__workouts__inner
             ul.list.list--no-bullets
              li
                .left 
                  p Saturday:
                .right
                  p Chest
              li
                .left
                  p Sunday:
                .right
                  p Back
              li
                .left
                  p Monday:
                .right
                  p Shoulders
              li
                .left
                  p Tuesday:
                .right
                  p Rest
              li
                .left
                  p Wednesday:
                .right 
                  p Arms
              li
                .left
                  p Thursday:
                .right
                  p Legs
              li
                .left
                  p Friday:
                .right
                  p Rest

      .c-exercise__content.block
        h3 Content