main.site-content
  section.c-section.search-hero
    .container.container--narrow
      .search-hero__inner
        h3.c-section__title What do you want to search about?
        form.search-hero__form(action="")
          label.visually-hidden(for="search-hero-input") What do you want to search about?
          input(type="search", id="search-hero-input" placeholder=" What do you want to search about?")
          input(type="submit", value="Search")
        .search-hero__tags
          ul.list.list--inline.list--no-bullets
            li
              a(href="#0" class="search-hero__tag") Cairo
            li
              a(href="#0" class="search-hero__tag") Giza
            li
              a(href="#0" class="search-hero__tag") Alexandria
            li
              a(href="#0" class="search-hero__tag") Tanta
            li
              a(href="#0" class="search-hero__tag") Sharqia
            li
              a(href="#0" class="search-hero__tag") Mansoura
            li
              a(href="#0" class="search-hero__tag") Dameitta
              
  section.c-section.near-you
    .container.container--narrow
      h2.c-section__title Best Trainers
      .slider--teams
        .slider--teams__team
          ul#list.cf
            li
              figure.active
                img(src="assets/images/user-avatar.jpg", alt="Avatar")
                figcaption
                  a(href="#", class="trainer")
                    h2 Ahmed Nasr
                    p Trainer
                    .rate
                      .rate__inner
                        svg(height='32px', width='32px', version='1.1', x='0px', y='0px', viewBox='0 0 64 64', style='enable-background:new 0 0 64 64;', xml:space='preserve')
                          path(d='M46,26.4l-5.6-0.8c-1.5-0.2-2.8-1.1-3.5-2.5L34.4,18c-0.6-1.3-2.2-1.8-3.5-1.2c-0.5,0.3-0.9,0.7-1.2,1.2l-2.5,5.1  c-0.7,1.4-2,2.3-3.5,2.5l-5.6,0.8c-1.4,0.2-2.4,1.5-2.2,2.9c0.1,0.6,0.3,1.1,0.7,1.5l4.1,4c1,1,1.5,2.5,1.3,4l-1,5.6  c-0.2,1.4,0.7,2.7,2.1,3c0.6,0.1,1.1,0,1.6-0.3l5-2.7c1.3-0.7,2.9-0.7,4.3,0l5,2.7c1.3,0.7,2.8,0.2,3.5-1.1c0.3-0.5,0.4-1.1,0.3-1.6  l-1-5.6c-0.3-1.5,0.2-3,1.3-4.1l4.1-4c1-1,1-2.6,0-3.7c-0.4-0.4-0.9-0.7-1.5-0.7L46,26.4z')
                        span.rate-count 5
                        | /5
            li
              figure
                img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQ-tqwmh3bRW-AA79QA8oUuX5yr3HVunpv8E1d2NamjjYeGEXo", alt="Avatar")
                figcaption
                  a(href="#", class="trainer")
                    h2 Maged Mokhtar
                    p Trainer
                    .rate
                      .rate__inner
                        svg(height='32px', width='32px', version='1.1', x='0px', y='0px', viewBox='0 0 64 64', style='enable-background:new 0 0 64 64;', xml:space='preserve')
                          path(d='M46,26.4l-5.6-0.8c-1.5-0.2-2.8-1.1-3.5-2.5L34.4,18c-0.6-1.3-2.2-1.8-3.5-1.2c-0.5,0.3-0.9,0.7-1.2,1.2l-2.5,5.1  c-0.7,1.4-2,2.3-3.5,2.5l-5.6,0.8c-1.4,0.2-2.4,1.5-2.2,2.9c0.1,0.6,0.3,1.1,0.7,1.5l4.1,4c1,1,1.5,2.5,1.3,4l-1,5.6  c-0.2,1.4,0.7,2.7,2.1,3c0.6,0.1,1.1,0,1.6-0.3l5-2.7c1.3-0.7,2.9-0.7,4.3,0l5,2.7c1.3,0.7,2.8,0.2,3.5-1.1c0.3-0.5,0.4-1.1,0.3-1.6  l-1-5.6c-0.3-1.5,0.2-3,1.3-4.1l4.1-4c1-1,1-2.6,0-3.7c-0.4-0.4-0.9-0.7-1.5-0.7L46,26.4z')
                        span.rate-count 4
                        | /5
            li
              figure
                img(src="https://images.askmen.com/1080x540/2016/01/25-021526-facebook_profile_picture_affects_chances_of_getting_hired.jpg", alt="Avatar")
                figcaption
                  a(href="#", class="trainer")
                    h2 Wendy Rogers
                    p GYM
                    .rate
                      .rate__inner
                        svg(height='32px', width='32px', version='1.1', x='0px', y='0px', viewBox='0 0 64 64', style='enable-background:new 0 0 64 64;', xml:space='preserve')
                          path(d='M46,26.4l-5.6-0.8c-1.5-0.2-2.8-1.1-3.5-2.5L34.4,18c-0.6-1.3-2.2-1.8-3.5-1.2c-0.5,0.3-0.9,0.7-1.2,1.2l-2.5,5.1  c-0.7,1.4-2,2.3-3.5,2.5l-5.6,0.8c-1.4,0.2-2.4,1.5-2.2,2.9c0.1,0.6,0.3,1.1,0.7,1.5l4.1,4c1,1,1.5,2.5,1.3,4l-1,5.6  c-0.2,1.4,0.7,2.7,2.1,3c0.6,0.1,1.1,0,1.6-0.3l5-2.7c1.3-0.7,2.9-0.7,4.3,0l5,2.7c1.3,0.7,2.8,0.2,3.5-1.1c0.3-0.5,0.4-1.1,0.3-1.6  l-1-5.6c-0.3-1.5,0.2-3,1.3-4.1l4.1-4c1-1,1-2.6,0-3.7c-0.4-0.4-0.9-0.7-1.5-0.7L46,26.4z')
                        span.rate-count 5
                        | /5
            li
              figure
                img(src="http://portal.bilardo.gov.tr/assets/pages/media/profile/profile_user.jpg", alt="Avatar")
                figcaption
                  a(href="#", class="trainer")
                    h2 Bill Demon
                    p GYM
                    .rate
                      .rate__inner
                        svg(height='32px', width='32px', version='1.1', x='0px', y='0px', viewBox='0 0 64 64', style='enable-background:new 0 0 64 64;', xml:space='preserve')
                          path(d='M46,26.4l-5.6-0.8c-1.5-0.2-2.8-1.1-3.5-2.5L34.4,18c-0.6-1.3-2.2-1.8-3.5-1.2c-0.5,0.3-0.9,0.7-1.2,1.2l-2.5,5.1  c-0.7,1.4-2,2.3-3.5,2.5l-5.6,0.8c-1.4,0.2-2.4,1.5-2.2,2.9c0.1,0.6,0.3,1.1,0.7,1.5l4.1,4c1,1,1.5,2.5,1.3,4l-1,5.6  c-0.2,1.4,0.7,2.7,2.1,3c0.6,0.1,1.1,0,1.6-0.3l5-2.7c1.3-0.7,2.9-0.7,4.3,0l5,2.7c1.3,0.7,2.8,0.2,3.5-1.1c0.3-0.5,0.4-1.1,0.3-1.6  l-1-5.6c-0.3-1.5,0.2-3,1.3-4.1l4.1-4c1-1,1-2.6,0-3.7c-0.4-0.4-0.9-0.7-1.5-0.7L46,26.4z')
                        span.rate-count 3
                        | /5
            li
              figure
                img(src="http://ap.church/wp-content/uploads/2018/08/Brian-Jones-Profile.jpg", alt="Avatar")
                figcaption
                  a(href="#", class="trainer")
                    h2 Lorraine Yankki
                    p Trainer 
                    .rate
                      .rate__inner
                        svg(height='32px', width='32px', version='1.1', x='0px', y='0px', viewBox='0 0 64 64', style='enable-background:new 0 0 64 64;', xml:space='preserve')
                          path(d='M46,26.4l-5.6-0.8c-1.5-0.2-2.8-1.1-3.5-2.5L34.4,18c-0.6-1.3-2.2-1.8-3.5-1.2c-0.5,0.3-0.9,0.7-1.2,1.2l-2.5,5.1  c-0.7,1.4-2,2.3-3.5,2.5l-5.6,0.8c-1.4,0.2-2.4,1.5-2.2,2.9c0.1,0.6,0.3,1.1,0.7,1.5l4.1,4c1,1,1.5,2.5,1.3,4l-1,5.6  c-0.2,1.4,0.7,2.7,2.1,3c0.6,0.1,1.1,0,1.6-0.3l5-2.7c1.3-0.7,2.9-0.7,4.3,0l5,2.7c1.3,0.7,2.8,0.2,3.5-1.1c0.3-0.5,0.4-1.1,0.3-1.6  l-1-5.6c-0.3-1.5,0.2-3,1.3-4.1l4.1-4c1-1,1-2.6,0-3.7c-0.4-0.4-0.9-0.7-1.5-0.7L46,26.4z')
                        span.rate-count 4
                        | /5
            li
              figure
                img(src="https://i0.wp.com/animalenergytherapies.com/wp-content/uploads/2018/04/profile-1.jpg", alt="Avatar")
                figcaption
                  a(href="#", class="trainer")
                    h2 Mohamed Fathy
                    p Trainer
                    .rate
                      .rate__inner
                        svg(height='32px', width='32px', version='1.1', x='0px', y='0px', viewBox='0 0 64 64', style='enable-background:new 0 0 64 64;', xml:space='preserve')
                          path(d='M46,26.4l-5.6-0.8c-1.5-0.2-2.8-1.1-3.5-2.5L34.4,18c-0.6-1.3-2.2-1.8-3.5-1.2c-0.5,0.3-0.9,0.7-1.2,1.2l-2.5,5.1  c-0.7,1.4-2,2.3-3.5,2.5l-5.6,0.8c-1.4,0.2-2.4,1.5-2.2,2.9c0.1,0.6,0.3,1.1,0.7,1.5l4.1,4c1,1,1.5,2.5,1.3,4l-1,5.6  c-0.2,1.4,0.7,2.7,2.1,3c0.6,0.1,1.1,0,1.6-0.3l5-2.7c1.3-0.7,2.9-0.7,4.3,0l5,2.7c1.3,0.7,2.8,0.2,3.5-1.1c0.3-0.5,0.4-1.1,0.3-1.6  l-1-5.6c-0.3-1.5,0.2-3,1.3-4.1l4.1-4c1-1,1-2.6,0-3.7c-0.4-0.4-0.9-0.7-1.5-0.7L46,26.4z')
                        span.rate-count 5
                        | /5

  section.c-section.stats
    .container.container--narrow
      .stats__inner
        h2.c-section__title 
          span We have much of gyms & fitness places from all over the world
        .stats__gyms
          .count 200
            | +
          span gym
        .stats__trainers
          .count 1400
            | +
          span Trainer
        .stats__fitness-places
          .count 200
            | +
          span Fitness place

  section.c-section.get-started
    .container.container--narrow
      .get-started__inner
        h2.c-section__title Find Gyms & trainers & fitness places near you
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, sequi.
        a(href="#" class="get-started-cta get-started-cta button button--primary button--color-5") Get started today

