main.site-content
  section(class="intro-hero")
    .intro-hero__inner
      .intro-hero__background
        picture.reveal-on
          source(media="(min-width: 590px)", srcset="assets/images/hero-bg.jpg")
          img(src="assets/images/intro-hero-bg-s.jpg", alt="Red meat")
      .intro-hero__content.align-center
        h4.intro-hero__subtitle.headline-t-4 Here comes a subtitle for carnivale
        h2.intro-hero__title.headline-t-2 Rain calls for warming &amp; comfort food to keep you cosy.
        .intro-hero__buttons
          button.button.button--primary.button--block-only-small Products
          button.button.button--black.button--block-only-small Contact
    
  section(class="suppliers-stories page-section")
    .container.container--narrow
      .suppliers-stories__slideshow
        .slideshow
          .slideshow__navigation
            button.slideshow__prev-button.jsSlideshowPrevButton.button--plain
              span.visually-hidden Previous
              svg(width="20", height="20", viewBox='0 0 512.002 512.002')
                use(xlink:href="#arrow-left-2")

            button.slideshow__next-button.jsSlideshowNextButton.button--plain
              span.visually-hidden Next
              svg(width="20", height="20", viewBox='0 0 512.002 512.002')
                use(xlink:href="#arrow-right-2")
          .slideshow__track
            .story-slide.clearfix
              .story-slide__picture.pull-start
                figure
                  a(href="#")
                    svg(width='40', height='40', viewBox='0 0 20 95')
                      use(xlink:href='#divider-1')
                    picture.reveal-on.reveal-on-scroll
                      source(media="(min-width: 768px)", srcset="assets/images/img-1.jpg")
                      img(src="assets/images/img-1-s.jpg", alt="Red meat")
                    figcaption
                      h4.headline-t-4 Lorem ipsum adipisicing elit. Magnam, aut.
              .story-slide__content.pull-end
                .story-slide__id
                  h4.headline-t-4 story 1 of 4
                .story-slide__details
                  h4.story-slide__subtitle.headline-t-4 Stories from our suppliers
                  h2.story-slide__title.headline-t-2 Imanol Jaca
                  p.story-slide__overview
                    q Good food is no luxury for us, quite the contrary, bad food and then even paying for it, that is luxury.
                  a(href="#", class="story-slide__read-story-link button--plain button--cta")
                    | Read this story
                    svg(width="19", height="19", viewBox='0 0 512.002 512.002')
                      use(xlink:href="#arrow-right")

  section(class="products page-section")
    .container.container--narrow
      .products__inner.clearfix
        .products__details.pull-start
          h4.page-section__subtitle.headline-t-4 Subtitle for the products
          h2.page-section__title.headline-t-2 Serve your clients the best.
          p.page-section__description Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque eligendi vel saepe atque, dolorum esse porro expedita. Sequi officia nobis deleniti vitae, rem molestiae labore, optio porro blanditiis nihil eius.
          a(href="#" class=".page-section__link button--plain button--cta") 
            | go to products
            svg(width="19", height="19", viewBox='0 0 512.002 512.002')
              use(xlink:href="#arrow-right")
        .products__previews.pull-end
          .product
            figure.product__image
              a(href="#")
                svg(width='40', height='40', viewBox='0 0 20 95')
                  use(xlink:href='#divider-1')
                picture.reveal-on.reveal-on-scroll
                  source(media="(min-width: 768px)", srcset="assets/images/img-2.jpg")
                  img(src="assets/images/img-2-s.jpg", alt="Product image")
                figcaption.product__details
                  h3.product__title Carne Slata Gallego
                  p.product__overview Uitgebeend vlees uit streek van de bafaade koe
          .product
            figure.product__image
              a(href="#")
                svg(width='40', height='40', viewBox='0 0 20 95')
                  use(xlink:href='#divider-1')
                picture.reveal-on.reveal-on-scroll
                  source(media="(min-width: 768px)", srcset="assets/images/img-3.jpg")
                  img(src="assets/images/img-3-s.jpg", alt="Product image")
                figcaption.product__details
                  h3.product__title Hamburger Txogitxu
                  p.product__overview Uitgebeend vlees uit streek van de bafaade koe
  
  section(class="about page-section")
    .container.container--narrow
      .about__inner.clearfix
        .about__overview.pull-end--atMedium
          p.page-section__description Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis sequi, nam laborum accusantium nihil reprehenderit ipsum error incidunt autem reiciendis ea quasi perspiciatis eligendi maxime quisquam quia consequuntur dolorem aspernatur ad magnam ullam fugit. Incidunt, tempora quos consequuntur temporibus minima laudantium molestiae deleniti doloribus eveniet ratione facilis quaerat voluptates dolores! Molestias accusantium nesciunt in ratione quis eius animi mollitia excepturi.
          a(href="#", class="page-section__link button--plain button--cta") 
            | Contact Us
            svg(width="19", height="19", viewBox='0 0 512.002 512.002')
              use(xlink:href="#arrow-right")
        h4.page-section__subtitle.headline-t-4 Subtitle for the products
        h2.page-section__title.headline-t-2 Extraordinary passion for food!
        figure
          picture.reveal-on.reveal-on-scroll
            source(media="(min-width: 768px)", srcset="assets/images/img-1.jpg")
            img(src="assets/images/img-1-s.jpg", alt="Red meat")
