.newsfeed
  .container.container--narrow
    .add-post
      .add-post__inner.block
        h3 What's happening?
        form.add-post__form(action="")
          textarea(name="post-content", type="text", placeholder="Write a post or upload a photo..", style="resize: none")
          .add-post__actions
            input(type="submit", class="button button--secondary button--color-1", value="Post")
            .up-photos-input 
              input#file-2.inputfile.inputfile-2(type='file', name='file-2[]', data-multiple-caption='{count} files selected', multiple='')
              label(for='file-2')
                <svg xmlns="http://www.w3.org/2000/svg" height="300px" width="300px" fill="#000000" data-name="Layer 1" viewBox="0 0 24 24" x="0px" y="0px"><title>BBUI</title><path d="M20,4.25H4A1.75,1.75,0,0,0,2.25,6V18A1.75,1.75,0,0,0,4,19.75H20A1.75,1.75,0,0,0,21.75,18V6A1.75,1.75,0,0,0,20,4.25ZM4,5.75H20a.25.25,0,0,1,.25.25v9.5l-1.6-1.2a2.76,2.76,0,0,0-3.3,0l-2.07,1.55a.25.25,0,0,1-.34,0L10.41,13a2.75,2.75,0,0,0-3.89-.2L3.75,15.3V6A.25.25,0,0,1,4,5.75Zm16,12.5H4A.25.25,0,0,1,3.75,18v-.67l3.77-3.42a1.18,1.18,0,0,1,.9-.32,1.24,1.24,0,0,1,.87.41l2.54,2.83a1.74,1.74,0,0,0,2.35.23l2.07-1.55a1.25,1.25,0,0,1,1.5,0l2.5,1.87V18A.25.25,0,0,1,20,18.25Z"/><circle cx="16.75" cy="8.75" r="1.5"/></svg>
                span Upload photos…
      
    .posts
      h3 Posts
      .posts__inner
          .post.block
            button.post__edit.button--plain …
            .post__edit__drawer 
              ul.list.list--no-bullets
                li 
                  a(href="#0", class)
                    span Edit post
                li 
                  a(href="#0", class) 
                    span Delete post
                li 
                  a(href="#0", class) 
                    span Extra link

            header.post__header
              .post__author-avatar
                img(src="assets/images/user-avatar.jpg", alt="Author Avatar")
              h4.post__author Ahmed Nasr
              span.post__date 25 Jan, 2019
            .post__content
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit reiciendis dolor cupiditate laudantium at architecto.
              div(style='--aspect-ratio: 2/1;')
                iframe(width='560', height='315', src='https://www.youtube.com/embed/2mAS5aDyrfM', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
                 
            .post__actions
              button.post__like-button.button--plain Like
              button.post__comment-button.button--plain Comments 
                span.post__comments-count 20
                | +
              button.post__share-button.button--plain Share
            .post__comments
              .comment
                header.comment__header
                  .comment__author-avatar
                    img(src="assets/images/user-avatar.jpg", alt="Author Avatar")
                  h4.comment__author Ahmed Nasr
                  span.comment__date 25 Jan, 2019
                .comment__content
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, libero!
              .comment
                header.comment__header
                  .comment__author-avatar
                    img(src="assets/images/user-avatar.jpg", alt="Author Avatar")
                  h4.comment__author Ahmed Nasr
                  span.comment__date 25 Jan, 2019
                .comment__content
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, libero!
            .post__add-comment
              form.add-comment(action="")
                div(class="textarea-editable", contenteditable='true', data-placeholder='Write a comment..')
                input(type="submit", class="button button--secondary button--color-5", value="Add")
          .post.block
            button.post__edit.button--plain …
            .post__edit__drawer 
              ul.list.list--no-bullets
                li 
                  a(href="#0", class)
                    span Edit post
                li 
                  a(href="#0", class) 
                    span Delete post
                li 
                  a(href="#0", class) 
                    span Extra link

            header.post__header
              .post__author-avatar
                img(src="assets/images/user-avatar.jpg", alt="Author Avatar")
              h4.post__author Ahmed Nasr
              span.post__date 25 Jan, 2019
            .post__content
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit reiciendis dolor cupiditate laudantium at architecto.
              img(src="assets/images/prof-pic.jpeg", alt="Image")
                
            .post__actions
              button.post__like-button.button--plain Like
              button.post__comment-button.button--plain Comments 
                span.post__comments-count 20
                | +
              button.post__share-button.button--plain Share
            .post__comments
              .comment
                header.comment__header
                  .comment__author-avatar
                    img(src="assets/images/user-avatar.jpg", alt="Author Avatar")
                  h4.comment__author Ahmed Nasr
                  span.comment__date 25 Jan, 2019
                .comment__content
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, libero!
              .comment
                header.comment__header
                  .comment__author-avatar
                    img(src="assets/images/user-avatar.jpg", alt="Author Avatar")
                  h4.comment__author Ahmed Nasr
                  span.comment__date 25 Jan, 2019
                .comment__content
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, libero!
            .post__add-comment
              form.add-comment(action="")
                div(class="textarea-editable", contenteditable='true', data-placeholder='Write a comment..')
                input(type="submit", class="button button--secondary button--color-5", value="Add")
          .post.block
            button.post__edit.button--plain …
            .post__edit__drawer 
              ul.list.list--no-bullets
                li 
                  a(href="#0", class)
                    span Edit post
                li 
                  a(href="#0", class) 
                    span Delete post
                li 
                  a(href="#0", class) 
                    span Extra link

            header.post__header
              .post__author-avatar
                img(src="assets/images/user-avatar.jpg", alt="Author Avatar")
              h4.post__author Ahmed Nasr
              span.post__date 25 Jan, 2019
            .post__content
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit reiciendis dolor cupiditate laudantium at architecto.
              .images
                ul.list.list--no-bullets.carousel(data-flickity)
                  li.carousel-cell
                    a.glightbox(href='assets/images/photo-1530822847156-5df684ec5ee1.jpeg')
                      img(src='assets/images/photo-1530822847156-5df684ec5ee1.jpeg')
                      svg(width='40', height='40')
                        use(xlink:href='#icon-zoom-in')
                      span.visually-hidden Zoom in
                  li.carousel-cell
                    a.glightbox(href='assets/images/prof-pic.jpeg')
                      img(src='assets/images/prof-pic.jpeg', alt='image')
                      svg(width='40', height='40')
                        use(xlink:href='#icon-zoom-in')
                      span.visually-hidden Zoom in
                  li.carousel-cell
                    a.glightbox(href='assets/images/photo-1530822847156-5df684ec5ee1.jpeg')
                      img(src='assets/images/photo-1530822847156-5df684ec5ee1.jpeg', alt='image')
                      svg(width='40', height='40')
                        use(xlink:href='#icon-zoom-in')
                      span.visually-hidden Zoom in
                  li.carousel-cell
                    a.glightbox(href='assets/images/prof-pic.jpeg')
                      img(src='assets/images/prof-pic.jpeg', alt='image')
                      svg(width='40', height='40')
                        use(xlink:href='#icon-zoom-in')
                      span.visually-hidden Zoom in

            .post__actions
              button.post__like-button.button--plain Like
              button.post__comment-button.button--plain Comments 
                span.post__comments-count 20
                | +
              button.post__share-button.button--plain Share
            .post__comments
              .comment
                header.comment__header
                  .comment__author-avatar
                    img(src="assets/images/user-avatar.jpg", alt="Author Avatar")
                  h4.comment__author Ahmed Nasr
                  span.comment__date 25 Jan, 2019
                .comment__content
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, libero!
              .comment
                header.comment__header
                  .comment__author-avatar
                    img(src="assets/images/user-avatar.jpg", alt="Author Avatar")
                  h4.comment__author Ahmed Nasr
                  span.comment__date 25 Jan, 2019
                .comment__content
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, libero!
            .post__add-comment
              form.add-comment(action="")
                div(class="textarea-editable", contenteditable='true', data-placeholder='Write a comment..')
                input(type="submit", class="button button--secondary button--color-5", value="Add")
          .post.block
            button.post__edit.button--plain …
            .post__edit__drawer 
              ul.list.list--no-bullets
                li 
                  a(href="#0", class)
                    span Edit post
                li 
                  a(href="#0", class) 
                    span Delete post
                li 
                  a(href="#0", class) 
                    span Extra link

            header.post__header
              .post__author-avatar
                img(src="assets/images/user-avatar.jpg", alt="Author Avatar")
              h4.post__author Ahmed Nasr
              span.post__date 25 Jan, 2019
            .post__content
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit reiciendis dolor cupiditate laudantium at architecto.
            .post__actions
              button.post__like-button.button--plain Like
              button.post__comment-button.button--plain Comments 
                span.post__comments-count 20
                | +
              button.post__share-button.button--plain Share
            .post__comments
            .post__add-comment
              form.add-comment(action="")
                div(class="textarea-editable", contenteditable='true', data-placeholder='Write a comment..')
                input(type="submit", class="button button--secondary button--color-5", value="Add")
    .people-ymk
      h2 People you may know
      .people-ymk__inner.block
        ul.list.list--no-bullets
          li
            a(href="#0", class="user")
              img(class="user__avatar", src="assets/images/user-avatar.jpg", alt="Avatar")
              h4.user__name Ahmed Nasr
              h5.user__tagline Trainer
            button.user__follow.button.button--secondary.button--color-5 Follow
          li
            a(href="#0", class="user")
              img(class="user__avatar", src="assets/images/user-avatar.jpg", alt="Avatar")
              h4.user__name Ahmed Nasr
              h5.user__tagline Trainer
            button.user__follow.button.button--secondary.button--color-5 Follow
          li
            a(href="#0", class="user")
              img(class="user__avatar", src="assets/images/user-avatar.jpg", alt="Avatar")
              h4.user__name Ahmed Nasr
              h5.user__tagline Trainer
            button.user__follow.button.button--secondary.button--color-5 Follow
          li
            a(href="#0", class="user")
              img(class="user__avatar", src="assets/images/user-avatar.jpg", alt="Avatar")
              h4.user__name Ahmed Nasr
              h5.user__tagline Trainer
            button.user__follow.button.button--secondary.button--color-5 Follow
          li
            a(href="#0", class="user")
              img(class="user__avatar", src="assets/images/user-avatar.jpg", alt="Avatar")
              h4.user__name Ahmed Nasr
              h5.user__tagline Trainer
            button.user__follow.button.button--secondary.button--color-5 Follow
