.dropzone {
  background: white;
  border-radius: 5px;
  border: 2px dashed var(--color-5);
  border-image: none;

  .dz-message {
    color: var(--border-2);
    font-weight: 400;
    font-size: 23px;
    font-family: var(--secondary-font);
    font-weight: 800;
  }
}

.edit-profile {
  padding-block: 4em;

  h2:first-of-type {
    font-size: 40px;
    font-family: var(--secondary-font);
    color: var(--color-1);
  }

  &__form {
    input[type=text], input[type=email], input[type=password], textarea {
      width: 100%;
      border: 1px solid var(--border-2);
      padding: .85em 4.2em .7em 1.2em;
      @mixin font-size 1.35;
      color: var(--color-1);
      border-radius: 2px;
      box-shadow: 0 1px 1px hsla(0, 0%, 0%, .1);
      transition: all 200ms ease-in-out;
      font-weight: 800;
      
      &:focus {
        outline: none;
        box-shadow: 0 1px 1px hsla(0, 0%, 0%, .1), 0 0 0 1px var(--border-2);
      }

      &::placeholder {
        color: var(--color-3);
        font-weight: 600;
      }
    }

    label {
      color: var(--color-5);
      font-weight: 600;
      margin-bottom: .5rem;
      display: block;
    }

    select {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    h4 {
      color: var(--color-5);
      font-weight: 700;
    }

    .up-photos-input {
      align-self: stretch;

      .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      }

      .inputfile+label {
        font-size: 1.25rem;
        font-weight: 700;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        overflow: hidden;
        padding: .7em 1em .5em;
        font-weight: 500;
        height: 100%;
        display: flex;
        align-items: center;
      }

      .inputfile:focus+label,
      .inputfile.has-focus+label {
        outline: 0;
      }

      .inputfile+label * {
        /* pointer-events: none; */
        /* in case of FastClick lib use */
      }

      .inputfile+label svg {
        width: 24px;
        height: 24px;
        vertical-align: middle;
        fill: currentColor;
        margin-top: -0.25em;
        /* 4px */
        margin-right: 0.25em;
        /* 4px */
      }

      /* style 2 */

      .inputfile-2+label {
        color: var(--border-2);
        border: 2px solid var(--border-1);
        border-radius: 2px;
        background: #fff;
        transition: all 200ms ease-in-out;
      }

      .inputfile-2:focus+label,
      .inputfile-2.has-focus+label,
      .inputfile-2+label:hover {
        color: var(--color-5);
      }
    }

    
    .checkbox-wrapper, .select-wrapper {
      h4 {
        color: var(--color-5);
        font-weight: 700;
        width: 100%;
      }

    }

    .checkbox-wrapper, .radiobox-wrapper {
      display: flex;
      flex-wrap: wrap;

      h4 {
        color: var(--color-5);
        font-weight: 700;
        width: 100%;

      }

      > div {
        display: flex;
        &:not(:last-child) { margin-right: 2rem; }
      }

      input {
        position: relative;
        top: 5px;
        margin-right: .7rem;
      }

      label {
        color: var(--color-1);
      }
    }

    .social {
      .form-control { margin-bottom: 2rem;}
    }

    button[type=submit] {
      font-weight: 800;
    }
  }
}

.upload-photos {
  h2:first-child {
    margin-top: 7rem;
  }
}

.images {
  display: flex;
  flex-wrap: wrap;
  padding: .7rem !important;

  .item {
    flex-basis: 18%;
    margin: 1%;

    a {
      display: block;
      height: 130px;
      position: relative;
      cursor: default;
      
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 3px;
        transition: all 100ms ease-in-out;
      }

      button {
        position: absolute;
        top: 10px; right: 10px;
        width: 26px; height: 26px;
        background: var(--color-5);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 100ms ease-in-out;
      }

      svg { 
        fill: #fff;
        width: 10px; height: 10px;

      }

      &:hover {

        img {
          box-shadow: 0 0 0 4px var(--color-2);
        }

        button {
          background: var(--color-2);
        }
      }
    }
  }


}