.button {
  display: inline-block;
  height: 5.9rem;
  @mixin line-height 5.4;
  padding-inline: 3em;
  font-family: inherit;
  text-align: center;
  white-space: nowrap;
  border: 1px solid transparent; 
  background: #3366cc;
  color: #fff; 
  border-radius: 4px;
  font-family: var(--secondary-font);
  font-weight: 500;
  letter-spacing: .01em;
  box-shadow: 0 2px 2px hsla(0, 0%, 0%, 0.12);
  
  &:focus {
    outline: none;
    transform: translate(1px, 1px);
    box-shadow: none;
  }

  &--plain {
    appearance: none;
    background: transparent;
    border: 0;
    line-height: 1;
    padding: 0;
    box-shadow: none;
  }

  &--primary {
    background: var(--color-1);
    color: hsla(0, 0%, 100%, .95);
    @mixin font-size 1.9;
    padding: 0 1.8em;
    height: 4.5rem;
    line-height: 4.7rem;
    transition: opacity 200ms ease;
    
    &:hover {
      opacity: .9;
    }
  }
  
  &--secondary {
    background-color: var(--black);
    color: var(--white);
  }
  
  &--black {
    background-color: var(--black);
    color: var(--white);
  }

  &--cta {
    color: var(--color-1);
    padding: 1.4em 0 1.2em;
    font-family: var(--secondary-font);
    @mixin font-size 1.25;
    letter-spacing: 0.25em;
    display: flex;
    align-items: center;
    max-width: 200px;
    margin-inline: auto;
    @mixin at Medium { margin-inline: 0 }
    position: relative;
    transition: all 300ms ease;
    z-index: 1;

    svg {
      fill: var(--color-1);
      margin-inline-start: auto;
      transition: all 300ms ease;
    }

    &::after {
      display: block;
      content: "";
      background: var(--color-1);
      width: 10%; height: 20px;
      position: absolute;
      left: -40px; bottom: 17px;
      transition: all 300ms cubic-bezier(1, -0.32, 0, 1.13);
      z-index: -1;
    }

    &:hover {
      color: #fff;
      svg { 
        fill: #fff;
        transform: translateX(-15px)
      }

      &::after {
        width: calc(100% + 15px); height: 100%;
        left: -15px; bottom: 0;
      }
     
    }
   
  }

  &--outline {
    height: 4.2rem;
    line-height: 4.2rem;
    padding-inline: 2.4em;
    font-weight: 500;
    background: transparent;
    border: 1px solid var(--border-3);
    transition: all 200ms ease-in-out, transform 0ms ease;
    box-shadow: 0 1px 1px rgba(0,0,0,.08);

    &:hover {
      box-shadow: 0 1px 4px hsla(0, 0%, 47%, 0.1);
      background: #f8f8f8;
    }
  }
  
  &--block { width: 100% }

  &--block-only-small {
    width: 100%;
    @mixin at Small { width: auto }
  }

  &--block-center {
    display: block;
    margin-inline: auto;
  }

}
