extends includes/base/_base-layout

block vars
  - var page = 'Good Gym | Edit profile';
  - var cssFileName = 'App-edit.css';
  - var injectName = 'edit';

block content
  include includes/_edit-profile

