extends includes/base/_base-layout

block vars
  - var page = 'Good Gym | Login';
  - var cssFileName = 'App-exercises.css';
  - var injectName = 'exercises';

block content
  include includes/_exercise-page

