extends includes/base/_base-layout

block vars
  - var page = 'Good Gym | Directory';
  - var cssFileName = 'App-directory.css';
  - var injectName = 'directory';

block content
  include includes/_directory

