extends includes/base/_base-layout

block vars
  - var page = 'Good Gym | Newsfeed';
  - var cssFileName = 'App-newsfeed.css';
  - var injectName = 'newsfeed';

block content
  include includes/_newsfeed

