extends includes/base/_base-layout

block vars
  - var page = 'Good Gym | User Profile';
  - var cssFileName = 'App-profile.css';
  - var injectName = 'profile';

block content
  include includes/_user-profile

