footer.site-footer
  .site-footer__navbar
    .container.container--narrow
      .site-footer__logo good gym.
      nav
        ul.list.list--inline-atSmall.list--no-bullets
          li
            a(href="#") Home
          li
            a(href="#") Directory
          li
            a(href="#") Newsfeed
      
  .site-footer__social
    .container.container--narrow
      ul.list.list--inline-atSmall.list--no-bullets
        li
          a(href="#", class="fb")
            svg(width='40', height='40', viewBox='0 0 24 24')
              use(xlink:href='#facebook')
            | Facebook
        li
          a(href="#", class="tw")
            svg(width='40', height='40')
              use(xlink:href='#icon-twitter')
            | Twitter
        li
          a(href="#", class="ins")
            svg(width='40', height='40', viewBox='0 0 24 24')
              use(xlink:href='#instagram')
            | Instagram
        li
          a(href="#", class="yt")
            svg(width='40', height='40', viewBox='0 0 24 24')
              use(xlink:href='#youtube')
            | Youtube
          
                    
  .site-footer__copy
    .container.container--narrow
      span Copyright © Good Gym 2019
      ul.list.list--inline.list--no-bullets.list--pipe-separator
        li
          a(href="#") Terms of Service
        li
          a(href="#") Privacy Policy

.site-loader 
  svg.spinner(viewBox='0 0 50 50')
    circle.path(cx='25', cy='25', r='20', fill='none', stroke-width='5')
