header.site-header
  .container
    .site-header__inner
      .site-header__left
        .site-header__logo
          h1.no-m-block Good Gym.
      .site-header__middle
        .site-header__search-nav
          form.search-nav__form(action="")
            label(for="headerSearchInput" class="visually-hidden")
            input(type="search" id="headerSearchInput" placeholder="Search about any thing!")
            button(type="submit", class="button--plain")
              span.visually-hidden Search
              svg(width='23', height='23', viewBox='0 0 24 24')
                use(xlink:href='#search-tall')

      .site-header__right
        nav.site-header__menu-nav
          ul.list.list--inline.list--no-bullets
            li
              a(href="#", class="active-page ") Home
            li
              a(href="#") Directory
            li
              a(href="#") Newsfeed
              
        .site-header__user-nav
          button.user-nav__avatar.button--plain
            a(href="#")
              img(src="assets/images/user-avatar.jpg", width="34px", height="34px" alt="User Avatar")
              .user-nav__avatar__icon
                svg(width='7', height='7', viewBox='0 0 512 512')
                  use(xlink:href='#chevron-down')

        .site-header__setting-nav
          button.setting-nav__drawer-toggle.button--plain
            span
          .setting-nav__drawer
            ul.setting-nav__drawer__menu.list.list--inline.list--no-bullets
              li
                a(href="#") Link
              li
                a(href="#") Link
              li
                a(href="#") Link
        .site-header__notuser-components
          button.button.button--primary
            | Get Started

      