script(src='https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.1.0/velocity.min.js')

// inject:js
script(src='scripts/App.js')
// endinject 
